dist
packages/vue-i18n/index.html
temp
coverage
node_modules
.DS_Store
.pnpm-store
.idea
.vscode/*
!.vscode/extensions.json
debug.log
.eslintcache

# VitePress related
**/.vitepress/cache
docs/api/general
docs/api/vue
docs/api/index.md
docs/zh/api/general
docs/zh/api/vue
docs/zh/api/index.md
docs/jp/api/general
docs/jp/api/vue
docs/jp/api/index.md
!docs/api/typedoc-sidebar.json
.notes

*.log
*.swp
*.tgz
*.zip
*~
.env
