<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Inherit locale example</title>
    <script src="../../../node_modules/vue/dist/vue.global.js"></script>
    <script src="../../../dist/vue-i18n.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Root</h1>
      <form>
        <label>{{ $t('message.language') }}</label>
        <select v-model="$i18n.locale">
          <option value="en">en</option>
          <option value="ja">ja</option>
        </select>
      </form>
      <p>{{ $t("message.hello") }}</p>
      <Child />
    </div>
    <script>
      const { createApp } = Vue
      const { createI18n, useI18n } = VueI18n

      const Child = {
        template: `
          <div class="child">
            <h1>Child</h1>
            <form>
              <label>{{ t('message.language') }}</label>
              <select v-model="locale">
                <option value="en">en</option>
                <option value="ja">ja</option>
              </select>
              <input type="checkbox" id="checkbox" v-model="inheritLocale">
              <label for="checkbox">{{ t('message.inherit') }}</label>
            </form>
            <p>{{ t('message.hi') }}</p>
          </div>
        `,
        setup() {
          return useI18n({
            locale: 'en',
            inheritLocale: true,
            messages: {
              en: {
                message: {
                  language: 'Language',
                  inherit: 'Inherit locale from root',
                  hello: 'hello earch!',
                  hi: 'Hi there!'
                }
              },
              ja: {
                message: {
                  language: '言語',
                  inherit: 'root から locale を継承する',
                  hello: 'こんにちは、地球！',
                  hi: 'やあ！'
                }
              }
            }
          })
        }
      }

      const i18n = createI18n({
        legacy: false,
        locale: 'ja',
        messages: {
          en: {
            message: {
              language: 'Language',
              hello: 'hello world!',
              hi: 'Hi !'
            }
          },
          ja: {
            message: {
              language: '言語',
              hello: 'こんにちは、世界！',
              hi: 'こんにちは！'
            }
          }
        }
      })

      const app = createApp({
        components: { Child }
      })
      app.use(i18n)
      app.mount('#app')
    </script>
  </body>
</html>
